<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-07-07-pushAnimtion.md</string>
		</array>
		<array>
			<string>2015-07-21-MPMoviePlayerController播放视频.md</string>
		</array>
		<array>
			<string>2015-07-21-为tableViewCell添加出现动画.md</string>
		</array>
		<array>
			<string>2015-07-14-xib颜色选择器.md</string>
		</array>
		<array>
			<string>2015-07-15-CALayer动画.md</string>
		</array>
		<array>
			<string>2015-07-20-InteractiveAnimaitonPush.md</string>
		</array>
	</array>
</dict>
</plist>
